
@keyframes cor{
    from{
        background-color: black;
    }

    to{ background-color: lightgrey;
        border-radius: 50%;
    }
}

div{
    background-color: black;
    height: 400px;
    width: 400px;
    animation-name: cor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
