@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#topo{
    background-color:white;
    height: 40px;
    width: 98.9vw;
    position: fixed;
    border-bottom: 1px solid #eee;
    z-index: 1; /* Modo camadas css */
 
}

ul{ list-style-type: none;
    display: flex;
    justify-content: right;
}

ul li{
    
    padding: 13px 34px 2px 24px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

a{  color: #0a1128;
    text-decoration: none;
}

ul li:hover{
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 6px;
   
}



div#main{
    background-color: #0a1128;
    height: 100vh;
    width: 98.9vw;
    box-shadow: 0px 1px 4px #0a1128;
}



.interna {

    position: absolute;
    top: 15%;
    left: 10%;
    width: 600px;
    height: 60px;
    color:white;
    font-size: 3em;
    
}

.interna h1{
  
    justify-content: center;
    line-height: 58px;
    width: 400px;
    padding: 3px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.interna p{

    padding: 16px;
    width: 500px;
    margin-right: 30px;
    margin-top: 28px;
    text-align: justify;
    font-size: 26px;
    font-family: 'DM Sans', sans-serif;
}

.desenho{position: relative;
        left: 55vw;
        top: 26%;
       max-width: 600px;
}
div#intro{
    text-indent: 60px;
    font-size: 27px;
    width: 50%;
    padding: 30px;
    margin: auto;
}

div#intro p{
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
}
div#intro h1{
    color: #0a1128;
    font-size: 2.7em;
    font-family: 'Montserrat', sans-serif;
}

#top3{
    background-color: #0a1128;
    height: 100vh;
    color: white;
}

#top3 h2{
    font-family:'Montserrat', sans-serif;
    font-size: 3em;
    padding: 26px;
    text-align: center;
    
}

#top3 .p3{

    font-family: 'DM Sans',sans-serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.divgrid p{
    line-height: 29px;
    padding: 8px;
    width: 80%;
    height: 100%;
    text-indent: 20px;
    font-size: 26px;
    text-align: justify;
    font-family:'DM Sans', sans-serif;
}

.divgrid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6px;
    top: 40px;
    margin-left: 30px;
}

.divgrid label{
    display: inline-flex;
    transform: rotate(7deg);
    font-size: 80px;
    padding-right: 6px;
    height: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.225);
}

.gallerygrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items:right;
    padding: 90px;
    margin: 6px;
    width: 96vw;
}

.gallerygrid img{
    padding: 14px;
    margin: 10px;
}

.gallerygrid img:hover{
    
    transition: all 0.4s ease-in-out;
    transform: scale(1.03) rotate(1deg);
    
}


#gallery h3,p{
    padding-top: 18px;
    width: 800px;
    text-align:center;

}

#gallery h3{
    font-size: 4em;
    font-family:'Montserrat', sans-serif ;
    color: #0a1128;
}

#gallery p {
    font-weight:400;
    font-size: 26px;
    font-family: 'DM Sans',sans-serif;
}

#contact{
    background-color: #0a1128;
    width: 98.9vw;
    height: 110vh;
}

#contact h3{ text-align: left;
    color: white;
    margin-left: 30px;
    font-family:'Montserrat', sans-serif ;
    font-size: 3em;
}

#contact p{text-align: justify; 
    color: white;
    font-size: 26px;
    margin-left: 40px;
    font-family: 'DM Sans',sans-serif;
}

#contact h3,p{
    padding-top:10px ;
    padding-left: 30px;
}


form{ 
    text-align: center;
    height: 400px;
    padding: 10px;
}


#firstname,#lastname{
    display: inline;
    min-width:46%;
    height: 80px;
    margin-bottom: 10px;
}

#inputemail{
    width:92.5%;
    height: 80px;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    font-size: 30px;
}

textarea{
    height: 100px;
    width:92.5%;
    font-size: 26px;
}

button{
    color: white;
    border: 6px solid white;
    background-color: #0a1128;
    font-size: 25px;
    font-family: 'DM Sans',sans-serif;
    margin-top: 10px;
    position: relative;
    
    width: 200px;
    height: 60px;
}

#divbutton{

    text-align: left;
    margin-left: 57px;
    width: 600px;
}

button:hover{
    background-color: white;
    transition: all 300ms ease-in-out;
    color: black;
}

footer p{
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    font-family: 'DM Sans',sans-serif;
}

footer a:hover{
    background-color:rgba(211, 211, 211, 0.342);
    padding: 2px;
}

#cora{
    color:red;
}







