@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: darkgrey;
}

menu{
    text-align: center;
}

menu li{
    font-size: 20px;
    background-color: white;
    padding: 6px;
    margin-top: 4px;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
}

ul{ padding: 3px;
    display: none;
}

#icon_menu p{
    font-size: 30px;
    height: 20%;
    background-color: white;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
}

#icon_menu p:hover{
    background-color: lightgrey;
}

header{
    text-align: center;
}

header h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

 img{
    height: 30px;
    width: 30px;
}

main{
    position: relative;
    top: 10px;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 40vw;
    background-color: lightgray;
}